/* ===== Styles ===== */
body {
    font-family: Arial, serif;
    font-size: 20px;
    color: #000000;
    background-color: #F8F9FA;
    margin: 0%;
}

/* ===== Logo ===== */
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 45px;
    height: auto;
    margin: 50px;
}

.school-title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    align-items: center;
    font-size: 16px;

    font-weight: 700;
    letter-spacing: 1.5px;

    color: #0b1d4d;
    text-transform: uppercase;
}

.sub-title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;

    color: #3a5a80;


}

/* ===== Navigation Bar ===== */
.div1 {
    position: fixed;
    top: 10px;
    left: 30px;
    right: 30px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: 0.3s ease;
}



#navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}



/* ===== Links ===== */
.links {
    cursor: pointer;
    padding: 0 25px;
}

.links a,
.links a:visited,
.links a:hover,
.links a:active {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}


/* ===== Dropdown Menu ===== */
.dropdown1 {
    display: inline-block;
    position: relative;
}

.dropdown1 button {
    background: transparent;
    color: black;
    padding: 14px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* ===== Dropdown Content ===== */
.dropdown-content1 {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #f3f3f3;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content1 a,
.dropdown-content1 a:visited,
.dropdown-content1 a:hover,
.dropdown-content1 a:active {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* ===== Landing Page ===== */
.image-box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/* Background image */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}